<!doctype html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="" type="image/png">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app = "tetris" ng-controller="mainController">

<div id="scorediv">
    <h1>Your Score is <br><span><b id="score">0</b></span></h1>
</div>

<div id="leveldiv">
    <h1>Level</h1>
    <md-whiteframe class="md-whiteframe-2dp" id="level" layout layout-align="center center">
    <span>1</span>
  </md-whiteframe>
</div>

<div id="boundary">
    <div id="tetris-game">
        <div id="tetris">
            <div class="tt">
               <div class="tt1"></div>
               <div class="tt2"></div>
            </div>
            <div class="e">
               <div class="e1"></div>
               <div class="e2"></div>
               <div class="e3"></div>
               <div class="e4"></div>
            </div>
            <div class="ttt">
               <div class="tt1"></div>
               <div class="tt2"></div>
            </div>
            <div class="r">
                <div class="r1"></div>
                <div class="r2"></div>
                <div class="r3"></div>
                <div class="r4"></div>
                <div class="r5"></div>
                <div class="r6"></div>
            </div>
            <div class="i">
                <div class="i1"></div>
            </div>
            <div class="s">
                <div class="s1"></div>
                <div class="s2"></div>
                <div class="s3"></div>
                <div class="s4"></div>
                <div class="s5"></div>
            </div>
        </div>

        <div id="game">
            <div class="g">
              <div class="g1"></div>
              <div class="g2"></div>  
              <div class="g3"></div>  
              <div class="g4"></div>  
              <div class="g5"></div>  

            </div>
            <div class="a">
                <div class="a1"></div>
                <div class="a2"></div>
                <div class="a3"></div>
                <div class="a4"></div>
            </div>
            <div class="m">
                <div class="m1"></div>
                <div class="m2"></div>
                <div class="m3"></div>
                <div class="m4"></div>
                <div class="m5"></div>

            </div>
            <div class="e">
               <div class="e1"></div>
               <div class="e2"></div>
               <div class="e3"></div>
               <div class="e4"></div>
            </div>
        </div>
    </div>
<!--     <div class="divider vr1"><div>
    <div class="divider vr2"><div>
    <div class="divider vr3"><div>
    <div class="divider vr4"><div>
    <div class="divider vr5"><div>
    <div class="divider vr6"><div>
    <div class="divider vr7"><div>
    <div class="divider vr8"><div> -->

</div>

<div id="square-next" class="hidden">
    <div class="square1-next brick"></div>
    <div class="square2-next brick"></div>
    <div class="square3-next brick"></div>
    <div class="square4-next brick"></div>
</div>

<div id="horizontal-rectangle-next" class="hidden">
    <div class="horizontal-rectangle1-next brick"></div>
    <div class="horizontal-rectangle2-next brick"></div>
    <div class="horizontal-rectangle3-next brick"></div>
    <div class="horizontal-rectangle4-next brick"></div>
</div>

<!-- <div id="vertical-rectangle-next" class="hidden">
    <div class="vertical-rectangle1-next brick"></div>
    <div class="vertical-rectangle2-next brick"></div>
    <div class="vertical-rectangle3-next brick"></div>
    <div class="vertical-rectangle4-next brick"></div>
</div> -->

<div id="l-next" class="hidden">
    <div class="l1-next brick"></div>
    <div class="l2-next brick"></div>
    <div class="l3-next brick"></div>
    <div class="l4-next brick"></div> 
</div>

<div id="inverted-l-next" class="hidden">
    <div class="inverted-l1-next brick"></div>
    <div class="inverted-l2-next brick"></div>
    <div class="inverted-l3-next brick"></div>
    <div class="inverted-l4-next brick"></div> 
</div>

<div id="horizontal-zigzag-next" class="hidden">
    <div class="horizontal-zigzag1-next brick"></div>
    <div class="horizontal-zigzag2-next brick"></div>
    <div class="horizontal-zigzag3-next brick"></div>
    <div class="horizontal-zigzag4-next brick"></div>
</div>

<div id="inverted-horizontal-zigzag-next" class="hidden">
    <div class="inverted-horizontal-zigzag1-next brick"></div>
    <div class="inverted-horizontal-zigzag2-next brick"></div>
    <div class="inverted-horizontal-zigzag3-next brick"></div>
    <div class="inverted-horizontal-zigzag4-next brick"></div>
</div>

<!-- <div id="vertical-zigzag-next" class="hidden">
    <div class="vertical-zigzag1-next brick"></div>
    <div class="vertical-zigzag2-next brick"></div>
    <div class="vertical-zigzag3-next brick"></div>
    <div class="vertical-zigzag4-next brick"></div>
</div> -->

<div id="t-next" class="hidden">
    <div class="t1-next brick"></div>
    <div class="t2-next brick"></div>
    <div class="t3-next brick"></div>
    <div class="t4-next brick"></div>
</div>




<h3 class="next-heading">NEXT</h3>
<div id="next-block"></div>

<div id="buttons">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button id="start" class="md-raised md-primary" ng-click="startGame();">Start</md-button>
      <md-button class="md-raised md-warn" ng-click="instructions($event)">Instructions</md-button>
    </section>
</div> 

<div id="buttons2" class="hidden">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary pause" ng-click = "pauseGame()">Pause</md-button>
      <md-button class="md-raised md-primary" ng-click="restartGame();">Restart</md-button>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-warn instructions" ng-click="instructions($event)">Instructions</md-button>
    </section>
</div>  

<div class="bottom">
    <hr>
    <p id="footer">Arpit Banati &copy; <span id="year"></span></p>  
</div>


<!--Script FIles included here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!--Script FIles included here -->
<!-- <script >
    angular.module('tetris',['ngMaterial']);

</script> -->
</body>

</html>
