<div>
  <style>
  .dialog_box{
    width: 400px;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    }
/*    md-input-container{
      margin-bottom: 0 !important;
    }
    md-content{
      padding-bottom: 0 !important;
    }*/
  </style>

<md-dialog class = "dialog_box">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>Game Instructions</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <i class="fa fa-times fa-lg"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
          
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Got it!
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
</div>
